<!DOCTYPE html>
<html>
  <head>
    <title>RailsHasuraCypress</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <script src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.min.js"></script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
